@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
body{
  background-color: black;
}
nav {
  margin-top: 25px;
  background-color: black;
  border: white solid;
  border-radius: 10%;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px 30px;
}
a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  letter-spacing: 0.5px;
  position: relative;
  transition: 0.4s;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: royalblue;
  transition: 0.3s linear;
  
}
a:hover {
  color: orange; 
  font-weight: bold;
}
a:hover:after {
  width: 100%;
  border-radius: 10%;
  background-color: transparent;
}